.link{
    text-decoration: none;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 1rem;
    margin-left: -1.5rem;
    border-radius: 2rem;
}
.header-container{
    border: 2px solid black;
    width: 8rem;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 2rem;
    margin-left: 1rem;
    background-color: whitesmoke;
}
.header-container:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
li:hover{
    background-color: white;
    transform: scale(1.2);
    transition: 0.5s;
    color: crimson;
}
.header-box{
    display: flex;
    align-items: center;
   width: 13rem;
   height: 99.9vh;
   
    position: fixed;
}